{% extends 'inventory/base.html' %}

{% block head %}
    <style>
        .login-form {display: flex; width:280px; margin: auto}
        input[type=text], input[type=password] {margin: 10px 5px; padding: 5px; width: 100%; border-radius: 4px;}
        input[type="submit"] {background-color: bisque; text-align: center; padding: 10px 30px; 
                            font-size: 18px; border: none; border-radius: 10px; cursor: pointer; display: block; margin: 0 auto}
    </style>
{% endblock %}

{% block content %}
    <div class="login-form"> 
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Login"/>
    </form>
    </div>
{% endblock %}